@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Montserrat:wght@300;400;600;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1,
h2,
h3 {
  @apply font-serif;
}

p {
  @apply font-sans;
}

.toggle-video {
  @apply lg:w-72 flex justify-center  transition-all duration-700 z-20 max-h-56 lg:max-h-497 overflow-y-auto bg-white rounded-md shadow-md;
}

.toggle-video.active {
  @apply hidden transition-all duration-700;
}

.nav-link-video {
  @apply flex items-center border border-slIndigo-600 text-slIndigo-600 hover:bg-slIndigo-600 hover:text-white rounded-md my-3 py-2 px-3 font-medium transition-all duration-300;
}

.nav-link-video.active {
  @apply bg-slIndigo-600 text-white;
}

.video-wrapper {
  @apply inset-0 z-0;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-wrapper iframe {
  @apply absolute top-0 left-0 w-full h-full;
}

.dropdown-menu {
  @apply bg-slIndigo-600 rounded-md shadow-lg w-full overflow-hidden transition-all duration-200;
  /* width: 200px; */
  position: absolute;
  list-style: none;
  text-align: start;
}

.dropdown-menu li a {
  @apply cursor-pointer py-2 px-4 block text-white hover:bg-slIndigo-400 hover:text-slIndigo-600 transition-all duration-200;
}

.dropdown-menu.clicked {
  display: none;
}

.title-video {
  @apply mb-2;
}

@media screen and (max-width: 768px) {
  .text-name-user {
    display: none;
  }

  .nav-brand-text {
    display: none;
  }

  .title-video {
    @apply mb-10;
  }
}
.text-name-user .dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

.frontPage {
  @apply bg-slGray-200;
}

.link-wrapped::before {
  @apply cursor-pointer z-10 inset-0 absolute;
  content: "";
}

.nav-link {
  @apply cursor-pointer font-semibold hover:text-slIndigo-600 text-slGray-600  px-6 py-2 rounded-md;
}

.nav-link.active {
  @apply text-slIndigo-600;
}

.line {
  @apply bg-slIndigo-600 mx-3 rounded-full;
  height: 3px;
  width: 50px;
}

/*  SIDEBAR Admin */
.navbar {
  @apply bg-slPurple-dark h-20 w-full fixed top-0 flex items-center z-10;
}

.menu-bars {
  @apply ml-8 text-3xl;
}

.nav-menu-items {
  @apply w-full;
}

.nav-title {
  @apply flex justify-center items-center py-1;
}

.menu-bars-close {
  @apply flex justify-end text-3xl;
}

.nav-menu {
  @apply bg-slPurple w-72 h-screen flex justify-center fixed top-0 -left-full lg:left-0 transition-all duration-700 z-20;
}

.nav-menu.active {
  @apply left-0 transition-all duration-700;
}

.nav-text {
  @apply flex justify-start items-center py-2 pr-0 pl-4 h-14;
}

.nav-text a {
  @apply text-white w-11/12 h-full flex items-center py-6 px-4 rounded-lg;
}

.nav-text a svg {
  @apply text-3xl;
}

.nav-text a.active {
  @apply bg-slWhite text-slPurple;
}

.nav-text a:hover {
  @apply bg-slWhite text-slPurple transition-all duration-300;
}

.navbar-toggle {
  @apply bg-gray-800 w-full h-20 flex justify-start items-center;
}
/* END SIDEBAR */

.pageNumbers {
  display: flex;
}

.pageNumbers .list-number {
  @apply border border-slGray-800 px-6 py-2 cursor-pointer hover:bg-slIndigo-600 transition-all duration-200;
}

.pageNumbers li.active {
  @apply bg-slIndigo-600;
}

.pageNumbers button {
  @apply py-2 px-6 border border-slGray-800 cursor-pointer bg-transparent text-slIndigo-800 font-semibold hover:text-black disabled:text-slGray-800 outline-none focus:outline-none  transition-all duration-200;
}
